<ul>
    {% for comment in comments %}
    <li>
        {{ comment.content }}
        <!-- If you want to display replies for each comment -->
        <ul>
            {% for reply in comment.reply_set.all %}
            <li>{{ reply.content }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>


<!-- comments/reply_form.html -->
# <form method="post" action="{% url 'comments:add_reply' comment.id %}">

    {% csrf_token %}
    <textarea name="content" rows="2" cols="40" style="width: 400px; outline: none; border-color: rgb(53, 196, 172); direction: ltr; text-align: left;"></textarea><br>
    <button type="submit">Add Reply</button>
</form>

# def index(request, user_identifier, uuid):
#     if request.method == 'POST':
#         if request.user.username == user_identifier:
#             content = request.POST.get('content')
#             if content:
#                 comment = Comment_Reply.objects.create(user=request.user, content=content)
#                 return render(request, 'success.html')
#             else:
#                 return redirect('index', user_identifier=user_identifier, uuid=uuid)
        
#     else:  
#         return render(request, 'index.html')

        # user_comments = Comment_Reply.objects.filter(user=request.user)
        # return render(request, 'index.html', {
        #     # 'user_identifier': user_identifier,
        #     'user_comments': user_comments,
        #     'uuid': uuid,  
        # })

# @login_required(login_url='/login/')
# def interface(request):
#         username = request.user.username
#         user = User.objects.get(username=username)
#         fullname = user.first_name

#         unique_link = f"/index/"

#         return render(request, 'interface.html', {
#             'unique_link': unique_link, 
#             'fullname': fullname,
#         })




<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        {% for user_comments in user_comments %} 
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/static/img/avatar.png"
                            width="50" height="50">

                        <div class="d-flex flex-column justify-content-start ml-2"><span
                                class="d-block font-weight-bold name">{{ user_comments.first_name }}</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text" style="font-size: 14px;">{{ user_comments.comment }}</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                class="ml-1">Like</span>
                        </div>
                        <div class="like p-2 cursor">
                            <button type="button" data-toggle="reply-form"
                                data-target="comment-1-reply-form">Reply</button>
                        </div>
                        <div class="like p-2 cursor">
                            <button type="button">Flag</button>
                        </div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span
                                class="ml-1">Share</span>
                        </div>
                    </div>
                </div>
                <div id="replyform" class="bg-light p-2">
                    <form method="POST" class="reply-form d-none" id="comment-1-reply-form">
                        <div class="d-flex flex-row align-items-start">
                            <img class="rounded-circle" src="/static/img/avatar.png" width="40">
                            <textarea name="reply" class="form-control ml-1 shadow-none textarea"
                                placeholder="Reply to comment" rows="4"></textarea>
                        </div>
                        <button type="submit">Post Comment</button>
                        <button type="button" data-toggle="reply-form"
                            data-target="comment-1-reply-form">Cancel</button>
                    </form>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener(
        "click",
        function (event) {
            var target = event.target;
            var replyForm;
            if (target.matches("[data-toggle='reply-form']")) {
                replyForm = document.getElementById(target.getAttribute("data-target"));
                replyForm.classList.toggle("d-none");
            }
        },
        false
    );
</script>