{% extends 'base.html' %}
{% block content %}
<div class="container container-mobile p-t-md">

    <div class="col-md-12" style="padding-top:50px; background-image: url('/static/img/Abract01.png');">
        <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-body text-center"
                style="background-image: url('/static/img/hero-bg.png'); background-size: cover; background-position: center;">
                {% load static %}

                <img data-action="zoom" class="panel-profile-img" src="{% static 'img/avatar.png' %}" alt="My Image">
                <div id="Container" class="text-center">

                    <div>
                        <br />
                        <p id="message">Leave a constructive message :)</p>
                    </div>

                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <input id="RecipientId" type="hidden" value="77d0aac3-87d4-4173-927d-6427bb6cbeb2" />
                        <div class="row">
                            <div class="col-md-12">
                                <div id="TextContainer" class="textarea-container">
                                    <textarea name="comment" id="Text" rows="5" maxlength="700"
                                        class="form-control remove-border"
                                        style="background:none; direction: ltr; text-align: left;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button id="Send" class="btn btn-primary-outline" type="submit " style="margin-top:10px"
                                    data-loading-text="Loading..."><span class="icon icon-pencil"></span>
                                    Send</button>
                            </div>
                        </div>
                    </form>

                    

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}